@import "_colors.scss";

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Plus Jakarta Sans", sans-serif;

  .blog {
    margin: 2rem;
    width: 50rem;
    max-width: calc(100vw - 50px);
    background-color: $white;
    padding: 2.5rem;
    border-radius: 20px;
    color: $black;

    .mainImage {
      width: 100%;
      border-radius: 0.75rem;
    }

    .date {
      margin-top: 1rem;
      color: $gray;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
