@import "./colors";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5rem 0;
  flex-direction: column;
  font-family: "Podkova", serif;
  text-align: center;
  border-top: $black 2px solid;
  border-bottom: $black 2px solid;

  p {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 3rem;

    &:first-of-type {
      font-family: "Bungee Shade", cursive;
      font-size: 2rem;
    }
  }
}
